@font-face {
    font-family: MontserratExtraBold;
    src: url('./../fonts/Monsterrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('./../fonts/Monsterrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: MontserratBlack;
    src: url('./../fonts/Monsterrat/Montserrat-Black.ttf');
}

@font-face {
    font-family: GothamProBold;
    src: url('./../fonts/GothamPro-Bold.ttf');
}

@font-face {
    font-family: DinCondencedBold;
    src: url('./../fonts/DinCondenced-Bold.otf');
}

@font-face {
    font-family: GothamPro;
    src: url('./../fonts/GothamPro.ttf');
}


* {
    font-family: Montserrat;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
.container-fluid {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    overflow-x: hidden;
}

.content {
    max-width: 1460px;
    margin: 0 auto;
}

.noscroll {
    overflow-y:hidden;
}

/*---------------------------------- 
-------------HEADER--------------
----------------------------------*/

.header {
    z-index: 1;
    width: 100%;
    max-width: inherit;
    position: fixed;
    top: 0;
    padding: 3.6% 0 60px 0px;
    line-height: 26px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    padding: 0 0 0 15px;
}

.header__logo {
    padding: 2px 0 0 2px;
}

.header__logo__text {
    font-size: 22px;
    font-weight: 200;
    text-transform: uppercase;
    color: #fff;
    font-family: MontserratExtraBold;
}

.header__localization {
    padding: 2px 0 0 64px;
}

.button-text {
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 300;
    color: #ffffff50;
    cursor: pointer;
    padding: 0 11px;
}

.button-text_active {
    color: #fff;
}

.button-text:focus {
    color: #fff;
}

.header__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.socials {
    display: flex;
    flex-direction: row;
    padding-right: 74px;
}

.socials_white {
    color: white;
    fill: white;
}

.socials__header {
    font-size: 13px;
}

.text-with-line:after {
    content: '';
    position: relative;
    display: block;
    top: -14px;
    left: 97px;
    margin-right: 100px;
    height: 2px;
    width: 68px;
    background-color: #000;
    color: inherit;
}

.text-with-line_white:after {
    background-color: #fff;
}

.socials__links {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
}

.socials__link:nth-of-type(2) {
    padding: 0 24px;
    line-height: 30px;
}

.socials__link:nth-of-type(3) {
    line-height: 31px;
    padding-left: 2px;
}

.socials__svg-icon {
    width: 26px;
    fill: inherit;
}

.socials__svg-icon_vk {
    height: 26px;
}

.socials__svg-icon_fb {
    width: 14px;
}

.socials__svg-icon_inst {
    width: 14px;
}

.text-with-line {
    margin-right: 10px;
}

.menu {
    line-height: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.menu__title {
    text-transform: uppercase;
    text-decoration: none;
    font-family: MontserratBlack;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 6px 0 0;
    color: #000;
    letter-spacing: 0.7px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu__icon {
    padding: 0px 21px 0 0px;
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
}

.bold-line:before {
    content: "";
    display: block;
    width: 29px;
    height: 5px;
    background-color: #000;
    margin-bottom: 7px;
}

.bold-half-line:before {
    content: "";
    display: block;
    width: 16px;
    height: 5px;
    background-color: #000;
    margin-bottom: 7px;
}

.bold-half-line:after {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 24px;
    left: 0;
    width: 24px;
    background-size: cover;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
}


/*---------------------------------- 
-------------FOOTER--------------
----------------------------------*/

.footer {
    width: 100%;
    max-width: inherit;
    position: fixed;
    bottom: 0;
    padding: 10px 0;
}

.footer__content {
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hint-scroll  {
    display: flex;
    align-items: center;
}

.mouse-block {
    padding-left: 13px;
}

.mouse {
    position: relative;
    display: inline-block;
    width: 21px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 43%;
}
.mouse:after {
    position: absolute;
    content: "";
    display: block;
    background: #000;
    width: 2.5px;
    height: 7px;
    top: 5px;
    left: calc(50% - 1.25px);
    border-radius: 43%;
    opacity: 1;
    animation: wheel-scroll 4s infinite ease-in-out;
}
@keyframes wheel-scroll {
    from {
        top: 5px;
    }

    5% {
        top: 6px;
    }

    10% {
        top: 7px;
    }

    15% {
        top: 7px;
    }

    20% {
        top: 8px;
    }

    25% {
        top: 9px;
    }

    40% {
        opacity: 0;
    }

    to {
        top: 5px;
        opacity: 0;
    }
}

.hint-scroll__title {
    padding-left: 24px;
}

.adding-info-block {
    padding: 0px 6px 0px 0;
    display: flex;
    align-items: center;
}


.adding-info-block__copyright-block {
    padding-right: 44px;
}
.small-text {
    font-size: 11px;
    font-weight: 600;
}

.mail-text {
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
}


/*---------------------------------- 
-------------SCROLL--------------
----------------------------------*/

.scroll-block {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: calc(36% + 3px);
    padding-left: 44px;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.scroll-block__current-page {
    padding: 0 0 17px 3px;
}

.scroll-block__last-page {
    padding: 23px 0 0 3px;
}

.scroll-bloc__text {
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.scroll-block__progress-bar {
    width: 1.5px;
    height: 190px;
    background-color: #fff;
}

.scroll-block__progress-bar:after {
    display: block;
    content: '';
    background: #ff545d;
    position: relative;
    width: 1.5px;
    /* top: calc(190px / 0); */
    height: calc(190px / 4);
}

.scroll-block__progress-bar_s1:after {
    top: calc(190px / 0);
}

.scroll-block__progress-bar_s2:after {
    top: calc(190px / 4);
}

.scroll-block__progress-bar_s3:after {
    top: calc(190px / 2);
}

.scroll-block__progress-bar_s4:after {
    top: calc(190px / 4 * 3);
}

/*---------------------------------- 
-------------OVERLAY--------------
----------------------------------*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .87);
    padding: 35px 35px 10px 35px;
    color: #fff;
    display: none;
    z-index: 999;
}

.overlay_show {
    display: block;
}

.overlay-content {
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;
}

.overlay__header {
    width: 100%;
    max-width: inherit;
    position: relative;
    top: 0;
    padding: 1.4% 0 21px 0px;
    line-height: 26px;
}

.overlay .header-left {
    padding: 0;
}

.overlay .header-left {
    padding: 0;
}

.overlay__footer {
    width: 100%;
    max-width: inherit;
    position: fixed;
    bottom: 0;
    padding: 0 0 16px 0;
}

.close-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.overlay__close-block {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 12px 41px 0 0;
}

.close-btn:before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    left: 0;
    top: 0;
}
.close-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
    left: 0;
    top: 0;
}

.overlay__menu {
    color: #e5e5e5;
    padding: 0 0 0 13.5%;
}

.overlay__menu__main-list {
    padding-left: 4px;
}

.overlay__menu__item {
    padding-bottom: 36px;
}
.overlay__menu__item:hover {
    color: #c64045;
}

.overlay__menu__item:last-of-type {
    padding-bottom: 70px;
}

.big-link-text {
    text-decoration: none;
    color: inherit;
    font-size: 49px;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
}

.big-link-text::first-letter {
    letter-spacing: 4px;
}

.overlay__menu__social {
    padding-bottom: 18px;
}

.small-link-text {
    text-decoration: none;
    color: inherit;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 400;
    display: inline-block;
}

/*---------------------------------- 
-------------S-MAIN--------------
----------------------------------*/

.s-main {
    z-index: 0;
    position: relative;
    background-color: #fdb14f;
    width: 100vw;
    /* height: 100vh; */
    overflow: hidden;
}

.s-main::before {
    content: "A";
    display: block;
    position: absolute;
    top: 10%;
    left: 13.5%;
    font-family: GothamProBold;
    font-weight: 800;
    font-size: 720px;
    text-transform: uppercase;
    line-height: 1;
    color: #c64045;
}

.s-main::after {
    content: "";
    display: table;
    clear: both;
  
}

.s-main__left-block {
    padding: 22% 0px 0 18%;
}

.link {
    font-family: GothamProBold;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    position: relative;
}

.link_with-triangle:after {
    content: '';
    position: absolute;
    left: 127px;
    top: 13px;
    width: 0;
    height: 0;
    border-right: 4px solid #fff;
    border-left: 9px solid transparent;
    border-top: 4px solid transparent;
    clear: both;
    transform: rotate(-45deg);
}

.link_with-dots:after {
    content: '';
    position: absolute;
    left: 94px;
    top: 9px;
    width: 9px;
    height: 9px;
    background: url(../img/icons/4dots.png) 100% 100% no-repeat;
    background-size: cover;
    clear: both;
}

.s-main__links-block {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0 7px;
}

.s-main__link-lock__item {
    padding-bottom: 17px;
}

.s-main__right-block {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 12.7% 16.4% 0% 5%;
}

.very-small-text-header {
    font-family: GothamProBold;
    font-size: 8.72px;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.small-text-header {
    font-family: DinCondencedBold;
    font-size: 20.13px;
    padding-bottom: 24px;
}

.text-header {
    font-family: DinCondencedBold;
    font-size: 73.16px;
    line-height: 72px;
    padding-bottom: 20px;
}

.paragraph {
    font-family: GothamPro;
    font-size: 15.5px;
    letter-spacing: 0px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 21px;
}

.button {
    border: 4px solid #fff;
    text-transform: uppercase;
    background-color: transparent;
    font-family: GothamPro;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 17px 38px;
    cursor: pointer;
}

.block-with-right {
    padding-top: 3px;
}
 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .socials {
        display: none;
    }
    .header__localization {
        display: none;
    }

    .socials {
        padding: 0;
    } 
    
    .overlay {
        padding: 10px;
    }
    .overlay__header {
        padding: 3.6% 0 0 0px;
    }
    .overlay__menu {
        padding: 0;
    }
    .overlay__menu__item:last-of-type {
        padding-bottom: 40px;
    }

    .adding-info-block__copyright-block {
        /* padding-right: 44px; */
        padding-right: 12%;
    }
    .hint-scroll {
        display: none;
    }

    .overlay__footer {
        padding: 0 0 8px 0;
    }

    .footer__content {
        display: block;
        width: 80%;
    }

    .scroll-block {
        padding-left: 0px;
    }
    
    footer.footer {
        display: none;
    }

    .stab {
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .socials__header {
        display: none;
    }

    .socials {
        padding-right: 0;
    }

    .header-wrapper {
        justify-content: space-evenly;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .socials__header {
        display: none;
    }

    .socials {
        padding-right: 0;
    }

    .header-wrapper {
        justify-content: space-evenly;
    }

    .overlay .header__right {
        align-items: flex-start;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}